<app-header></app-header>

<div class="ui-g">
  <div class="ui-lg-6 ui-sm-6">

    <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
    <ng-container [ngSwitch]="activeTab">
      <ng-template [ngSwitchCase]="'Price Calculator'">
        <div class="ui-g price-cal">
          <div class="ui-lg-6 ui-sm-12">
            <span class="ui-lg-2">From</span>
            <p-autoComplete [(ngModel)]="selectedOrigin" [suggestions]="filteredObj"
              (completeMethod)="filteredObjByValue($event)" field="name" [size]="30" placeholder="Enter Origin"
              [minLength]="1"></p-autoComplete>
          </div>
          <div class="ui-lg-6 ui-sm-12">
            <span class="ui-lg-2">TO</span>
            <p-autoComplete [(ngModel)]="selectedDistination" [suggestions]="filteredObj"
              (completeMethod)="filteredObjByValue($event)" field="name" [size]="30" placeholder="Enter Destination"
              [minLength]="1"></p-autoComplete>
          </div>
          <div class="ui-lg-12 ui-sm-12">
            <button style="margin-top: 27px;" pButton type="button" label="Calculate Fare" class="ui-button-raised"
              (click)="calculateFare()" [disabled]="isFarePrbar"></button>
          </div>
          <div class="ui-lg-12 ui-sm-12">
            <p-progressBar *ngIf="isFarePrbar" mode="indeterminate" [style]="{'height': '4px'}"></p-progressBar>
            <span *ngIf="isFarePrbar==false" class="fare-tag"> Fare : {{calculateFareDetails?.amount}}
              {{calculateFareDetails?.currency}}</span>
          </div>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="'Airports'">
        <div class="ui-g">
          <div class="ui-lg-12">

            <p-table [columns]="cols" [value]="values" [lazy]="true" (onLazyLoad)="loadAirportLazy($event)"
              [paginator]="true" [rows]="25" [totalRecords]="totalRecords" [loading]="loading">
              <ng-template pTemplate="caption">
                <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" placeholder="Filter"
                    (input)="loadAirportFilter($event.target.value)" style="width:auto">
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <!-- <p-table #dt [columns]="cols" [value]="values" [paginator]="true" [rows]="10">
              <ng-template pTemplate="caption">
                <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" placeholder="Global Filter"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
                <tr>
                  <th *ngFor="let col of columns">
                    <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')"
                      placeholder="search {{col.field}}">
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table> -->
          </div>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>